:root{
  --sky-blue: #51C1F3;
  --electric-purple: #C300FF;
  --lavender-blush: #EEE5E9;
  --russian-violet: #0B032D;
  --bright-pink: #E85D75;
}

body{
  color: var(--russian-violet) !important;
  background-color: var(--lavender-blush);
}

.main-container{
  margin-top: 10%;
}

.img-area{
  background-color: white;
}

.img-container {
  height: 100%;
  background-color: white;
}

.auth-modal{
  display: block;
  background-color: var(--lavender-blush);
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2em;
  left: 37%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.lobby-button {
  background-color: var(--sky-blue) !important;
  color: var(--russian-violet) !important;
}