@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=DM+Serif+Display&display=swap');

:root{
  --sky-blue: #51C1F3;
  --electric-purple: #C300FF;
  --lavender-blush: #EEE5E9;
  --russian-violet: #0B032D;
  --bright-pink: #E85D75;
  --heading-font: 'DM Serif Display', Serif;
  --normal-font: 'DM Sans', Sans;
}

body{
  color: var(--russian-violet) !important;
  background-color: var(--lavender-blush);
  font: var(--normal-font) !important;
}

.main-container{
  margin-top: 10%;
}

.img-area{
  background-color: white;
}

.img-container {
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.auth-modal{
  display: block;
  background-color: var(--lavender-blush);
  color: var(--russian-violet) !important;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2em;
  left: 37%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.lobby-button {
  background-color: var(--sky-blue) !important;
  color: var(--russian-violet) !important;
}

.login-button {
  border-color: var(--electric-purple) !important;
  color: var(--electric-purple) !important;
}

.modal-button {
  background-color: var(--bright-pink) !important;
  color: var(--lavender-blush) !important;
}

.MuiTypography-root {
  font-family: var(--heading-font) !important;
}

a {
  text-decoration: none !important;
}

#lobby-selection {
  padding: 5px;
}

#lobby-selection:hover, .selected {
  background-color: var(--bright-pink) !important;
}

.lobby-modal{
  display: block;
  background-color: var(--lavender-blush);
  color: var(--russian-violet) !important;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2em;
  left: 34%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}